body {
    margin: 0;
    padding: 0;
    font-family: Roboto , sans-serif;
    background-color: white;
    
}
a {
    text-decoration: none;
  }
  .main-header-logo:hover {
    opacity: 0.8;
}
h1 {
    background-color: #eeeeee;
    color: black;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.main-header-logo:active {
    opacity: 0.3;
}
.main-navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}
.main-top {
    background-color: #eeeeee;
}
.site-navigation li{
    list-style: none;
}
.site-navigation a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.site-navigation a:hover {
    color: #fb565a;
}
.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}
.shop-item {
    text-decoration: solid underline;
    text-decoration-color: #fb565a;
}
.fieldset {
    border: none;
    text-align: left;
}
.legend {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}
.selection-field {
    list-style: none;
}
.radio-filter {
    width: 25px;
    height: 25px;
    background-color: #4d4d4d;
    opacity: 0.4;
}
.radio-filter:hover {
    background-color: #4d4d4d;
    opacity: 1; 
}
.radio-filter:disabled {
    background-color:#4d4d4d;
    opacity: 0.1;
}
.filter-input {
    width: 27px;
    height: 23px;
    background-color: #4d4d4d;
    opacity: 0.4;
}
.filter-input:hover {
  background-color: #4d4d4d;
  opacity: 1;
}
.filter-input:disabled {
    background-color: #4d4d4d;
    opacity: 0.1;
}
.filter-option {
    color: #283136;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}
.filter-option:disabled {
    color: rgba(40, 49, 54, 0.3);
}
.filter-button {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    border: none;
    outline: none;
}
.filter-button:hover {
    background-color: #dfdfdf;
}
.filter-button:active {
    background-color: #d5d5d5;
}
.filter-button span {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.filter-button span:active {
    color: rgba(0,0,0,0.3);
}
.sort {
    color: #000000;
    opacity: 0.3;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    border: none;
    outline: none;
}
.sort:hover {
    color: #000000;
    opacity: 0.6;
}
.sort:active,
.sort:focus {
    color: #000000;
}
.browser {
    width: 360px;
    height: 40px;
    background-image: url(browser.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.12;
}
.browser:hover {
    opacity: 1;
}
.page-description {
    width: 360px;
    height: 231px;
    background-color: #eeeeee;
    text-align: center;
}
.page-description b {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.page-description b:hover {
    color: #fb565a;
}
.page-description b:active {
    color: rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}
.page-description p {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
}
.browser-button {
    width: 200px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    outline: none;
}
.browser-button:hover {
    background-color: #e74246;
}
.browser-button:active {
    background-color: #d7373b ;
}
.browser-button span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.adress {
    text-align: left;
}
.adress address {
    font: inherit;
    color: #000000;
    font-size: 18px;
    line-height: 30px;
}
.adress a {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
}
.adress-button {
    outline: none;
    width: 219px;
    height: 50px;
    background-color: #fb565a;
}
.adress-button span {
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.networks {
    list-style: none;
}
.footer-text {
    color: #444444;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}
.footer-text span {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}